<% @engaged_investments.each_with_index do |investment, i| %>

  <% id_name = "activeOffers#{i}" %>
  <% id_heading = "headingOffers#{i}" %>
  <% id_collapse = "collapse#{i}" %>
  <% event_offers = @offers.where(event: investment.event) %>

  <div class="card-investment shadowed-blue">
    <div class="card-investment-content">
      <div class="event-text-data">
        <%= link_to(investment.event.title, event_path(investment.event), class:"event-title") %>
        <p>You hold
          <strong class="user-n_actions"><%= investment.n_actions %></strong>
           actions in this event (value: <strong class="user-n_actions"><%= investment.n_actions * investment.event.current_price %></strong> coins).</p>
      </div>
      <div class="event-actions-data">

        <div class="badge-value">
          Likelihood to happen
          <strong class="current-price"><%= "#{investment.event.current_price}%" %></strong>
        </div>
        <div class="badge-change">
          Last hour change
          <%
            diff = investment.event.last_hour_change
            if diff == 0
              badge_class = 'badge-secondary'
              sign = '+'
            elsif diff > 0
              badge_class = 'badge-success'
              sign = '+'
            else
              badge_class = 'badge-danger'
              sign = ''
            end
          %>
          <span style="margin: 0px 5px;" class="custom-badge badge <%= badge_class %>"><%= sign %><%= "#{diff} %" %></span>
        </div>
      </div>
    </div>
    <div class="accordion" id=<%= id_name %>>
      <div class="card">
        <div class="card-header active-offers-header" id=<%= id_heading %>>
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#<%= id_collapse %>" aria-expanded="false" aria-controls="<%= id_collapse %>">
              <i class="fas fa-chevron-down" style="padding-right: 5px;"></i> Your active offers (<%= event_offers.count %>)
            </button>
          </h2>
        </div>
        <div id=<%= id_collapse %> class="collapse" aria-labelledby=<%= id_heading %> data-parent="#<%= id_name %>">
          <div class="card-body offers-list">
            <% if event_offers.length == 0 %>
              <div class="offer-row">
                <div class="offer-content">
                  None.
                </div>
              </div>
            <% end %>
            <% event_offers.each do |offer| %>
              <div class="offer-row">
                <div>
                  <strong><%= offer.n_actions %></strong> actions for
                  <strong><%= offer.price %></strong> coins.
                </div>
                <%=
                link_to(
                  'Cancel <i class="fas fa-ban"></i>'.html_safe,
                  event_transaction_path(offer.event, offer),
                  method: :delete, data: { confirm: "Are you sure?" },
                  class: "cancel-offer-btn"
                )
                %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
