<% @engaged_investments.each_with_index do |investment, i| %>

  <% id_name = "activeOffers#{i}" %>
  <% id_heading = "headingOffers#{i}" %>
  <% id_collapse = "collapse#{i}" %>
  <% event_offers = @offers.where(event: investment.event) %>

  <div class="card-investment">
    <div class="card-investment-content">
      <div class="event-text-data">
        <%= link_to(investment.event.title, event_path(investment.event), class:"event-title") %>
        <p>You hold <strong class="user-n_actions"><%= investment.n_actions %></strong> actions in this event.</p>
      </div>
      <div class="event-actions-data">
        <p>
          <i class="fas fa-chart-line" style="margin: 0px 5px"></i>current value:
          <strong class="current-price"><%= investment.event.transactions.last.price %></strong>
          <% p0, p1 = investment.event.transactions.last(2).pluck(:price) %>
          <span style="margin: 0px 5px;" class="badge <%= p1 >= p0 ? 'badge-success' : 'badge-danger' %>"><%= p1 >= p0 ? '+' : '' %><%= p1 - p0 %></span>
        </p>
      </div>
    </div>
    <div class="accordion" id=<%= id_name %>>
      <div class="card">
        <div class="card-header active-offers-header" id=<%= id_heading %>>
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#<%= id_collapse %>" aria-expanded="false" aria-controls="<%= id_collapse %>">
              <i class="fas fa-chevron-down" style="padding-right: 5px;"></i> Your active offers (<%= event_offers.count %>)
            </button>
          </h2>
        </div>
        <div id=<%= id_collapse %> class="collapse" aria-labelledby=<%= id_heading %> data-parent="#<%= id_name %>">
          <div class="card-body offers-list">
            <% if event_offers.length == 0 %>
              <div class="offer-row">
                <div class="offer-content">
                  None.
                </div>
              </div>
            <% end %>
            <% event_offers.each do |offer| %>
              <div class="offer-row">
                <div class="offer-content">
                  <strong><%= offer.n_actions %></strong> actions for
                  <strong><%= offer.price %></strong> coins.
                </div>
                <div class="cancel-offer">
                  <%= link_to('Cancel <i class="fas fa-ban"></i>'.html_safe, event_transaction_path(offer.event, offer), method: :delete, data: { confirm: "Are you sure?" }) %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
