<div class="container">
  <!--
  <div>
    <h1> Dashboard of <%= @user.username %> </h1>
    <h3>Current amount of points: <%= @user.points %> </h3>
    <h3>You are currently positionned on :</h3>
  </div>

  <div class="row">
  <% @investments.each do |investment| %>
    <div class="col-12 col-md-6 card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="">
            <h2><%= investment.event.title %></h2>
            <p> <%= investment.event.description %> </p>
            <p style="color: red;"> Remaining actions : <strong><%= investment.n_actions %></strong> </p>
        </div>
          <%= link_to "More infos", events_path, class:"button-main" %>
        </div>
    <% end %>
    </div>
  </div>
  -->

  <div class="transactions_pannel_container">
    <%= render('transactions_pannel') %>
  </div>

</div>
