<div class="container">
  <div>
    <h1> Dashboard of <%= @user.username %> </h1>
    <h3>Current amount of points: <%= @user.points %> </h3>
  </div>

  <div class="positions_pannel_container">
    <%= render('positions_pannel') %>
  </div>

  <div class="transactions_pannel_container">
    <%= render('transactions_pannel') %>
  </div>

</div>


<%# .each to do ; %>
 <%= render partial: 'shared/investment_card', locals: {investment: Investment.all.sample}%>
