<% if notice %>
  <div class="alert alert-info alert-dismissible fade show m-1" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if messages && user_signed_in?%>
  <% messages.each do |message| %>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header d-flex justify-content-between">
        <%# <img src="..." class="rounded me-2" alt="..."> %>
        <a class="me-auto" href=<%= message['url']  %> ><%= message['title']  %></a>
        <small class="text-muted"><%= message['time']%></small>
      </div>
      <div class="toast-body">
        <%= message['content_start']%>
        <strong><%=  message['strong'] %></strong>
        <%= message['content_end'] %>
      </div>
    </div>
  <% end %>
<% end %>

<% if false %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= event %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
