
<div class="row" id="technical" data-event-id="<%= @event.id %>">
  <div class="col-12 col-sm-6 mb-2">
    <%= line_chart(
      @event.transactions.where.not(buyer_id: nil).pluck(:updated_at, :price),
      xtitle: "Time",
      ytitle: "Price",
      curve: false,
      points: false,
      id: "price-chart",
      width: "100%",
      height: "100%"
      )%>
  </div>

  <div class="col-12 col-sm-6 mb-2 trading" style="overflow: overlay">
    <div class='seller-card'>
      <div>You currently hold <strong><%= @actions_held %></strong> actions in this event. Of which <strong><%= @actions_on_offer %></strong> are on sale.</div>
      <div>
        <%= simple_form_for [@event, @new_transaction],
        wrapper: :inline_form,
        url: event_transactions_url(@event, @new_transaction, anchor: "description"),
        html: {
          class: "inline-form"
        },
        wrapper_mappings: { boolean: :inline_boolean} do |f| %>
          <%= f.input :n_actions, placeholder: 'Actions', label: false, input_html: {class: 'form-input'}%>
          <%= f.input :price, placeholder: 'Price', label: false, input_html: {class: 'form-input'}%>
          <%= f.submit "Submit my offer", class: "button-main" %>
        <% end %>
      </div>
    </div>

    <% first = 0 %>
    <% @offers.each do |offer| %>
      <% if offer.seller != current_user %>
        <% first += 1 %>
      <% end %>
      <div class='offer-card'>
        <div>
          <% if offer.seller == current_user %>
            <strong>You</strong> are offering
          <% else %>
            <strong><%= offer.seller.username %></strong> is offering
          <% end %>
          <strong><%= offer.n_actions %></strong>
          actions for
          <strong><%= offer.price %></strong>
          coins.
        </div>

        <% if first == 1 %>
          <% @offer = offer if @offer.nil?%>
          <%= simple_form_for [@event, @offer],
          wrapper: :inline_form,
          url: event_transaction_buy_url(@event, @offer, anchor: "description"),
          html: {
            class: "inline-form"
          },
          wrapper_mappings: { boolean: :inline_boolean} do |f| %>
            <%= f.input :n_actions, placeholder: 'Actions', label: false, input_html: {class: 'form-input'}%>
            <%= f.submit "Buy", class: "button-buy" %>
          <% end %>

        <% elsif offer.seller == current_user %>
          <%= link_to("Cancel offer", event_transaction_path(@event, offer, anchor: "description"), method: :delete, class: "button-sell") %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
