<div class="container">
  <div>
    <div class="index-header-content">
      <h2 class="mt-4 mb-3"> Start to trade</h2>
    </div>
  </div>
    <div class="row">
    <% @events.each do |event| %>
    <div class="col-12 col-md-4">
      <div class="card-products">
        <% if current_user.admin %>
          <div class="archive">
            <%= link_to("End (as YES)", event_archive_path(event, outcome: "yes"), method: :post, class: "event-end-action") %>
            <%= link_to("End (as NO)", event_archive_path(event, outcome: "no"), method: :post, class: "event-end-action") %>
          </div>
        <% end %>
        <img src="<%= event.img_url %>", class="card-product-img" />
        <div class="title">
          <%= link_to event.title, event_path(event.id) %>
        </div>
        <div class="events-data-badge">
          <div class="badge-value">
            Likelihood to happen
            <strong class="current-price"><%= "#{event.current_price}%" %></strong>
          </div>
          <div class="badge-change">
            Last hour change
            <%
              diff = event.last_hour_change
              if diff == 0
                badge_class = 'badge-secondary'
                sign = '+'
              elsif diff > 0
                badge_class = 'badge-success'
                sign = '+'
              else
                badge_class = 'badge-danger'
                sign = ''
              end
            %>
            <span style="margin: 0px 5px;" class="badge <%= badge_class %>"><%= sign %><%= "#{diff} %" %></span>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
