<div class="containerr">
  <div class= "form_new">
    <h2>Propose your event!</h2>
      <div>
        <%= simple_form_for @event do |f| %>
        <%= f.input :title, placeholder: 'Title' %>
        <%= f.input :description, placeholder: 'Description' %>
        <%= f.input :end_date %>
        <%= f.submit "Submit your event", class:"button" %> <%= link_to "Cancel", user_path(@user.id) %>
      <% end %>
  </div>
</div>
