<div class='container withmargins'>
  <div class="event-image" style="background-image: url(<%=@event.img_url%>);"></div>
  <div class="event-text">
    <h1><%= @event.title %></h1>

    <% if @event.archived == false %>
      <h5 class="calendar">
        Ends on
        <i class="far fa-calendar-alt", style="padding-left: 5px; padding-right: 5px"></i>
        <strong>
          <%= @event.end_date.strftime("%d.%m.%Y") %>
        </strong>
      </h5>

      <div id="clockdiv" data-endDate=<%= @event.end_date %> class="row">
        <div class="row" style="border-style: solid; border-radius: 5px;" >
          <div class="timer">
            <span class="days"></span>
            <div class="smalltext"><%= t(".days") %></div>
          </div>
          <div class="timer">
            <span class="hours"></span>
            <div class="smalltext"><%= t(".hours") %></div>
          </div>
          <div class="timer">
            <span class="minutes"></span>
            <div class="smalltext"><%= t(".minutes") %></div>
          </div>
          <div class="timer">
            <span class="seconds"></span>
            <div class="smalltext"><%= t(".seconds") %></div>
          </div>
        </div>
      </div>
    <% else %>
      <h5 class="calendar">This event ended on <%= @event.end_date.strftime("%d.%m.%Y") %>.</h5>
    <% end %>
    <div class="mt-4">
      <h5 id="description">Event description</h5>
      <p><%= @event.description %></p>
    </div>
  </div>

  <% if @event.archived == false %>
    <%= render('events/technical_container') %>
    <div class="d-flex justify-content-between">
  <div class="row">
    <% unless @news.nil? %>
      <% @news.each do |new| %>
        <div class="col">
          <div class="news-cards" >
            <div>
              <h5 class="card-title"> <%= new['title'] %></h5>
              <div>
                <p class="card-text"> <%= new['description'].truncate(75) %></p>
              </div>
              <div>
                  <a href="<%= new['url'] %>" class="button-news"> Article</a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% else %>
    <%= render('events/end_technical_container') %>
  <% end %>

</div>
