<div class="container">
  <h3 class="top-h3"> <%= image_tag("ranking.png", :class => "top")%> Leaderboard <%= image_tag("ranking.png", :class => "top")%> </h3>
  <ol>
    <% @ranking.each_with_index do |rkg, index| %>
      <li class="ranking-li <%= 'me' if current_user.username == rkg[:username] %>">
      <p class="numerotation"><%= index + 1 %> . </p>
      <%= image_tag "https://i.pravatar.cc/5#{rand(1..9)}", class: "avatar-ranking" %>
      <p class="username-p">
        <%= rkg[:username] %>
        <%= image_tag("medal.png", :class => "medal") if index == 0 %>
        <%= image_tag("medal (1).png", :class => "medal") if index == 1 %>
        <%= image_tag("medal (2).png", :class => "medal") if index == 2 %>
      </p>
      <p class="points-p"> <%= rkg[:pv] %> </p>
      </li>
    <% end %>
  </ol>
</div>
