<div class="container">
  <h3 class="top-h3"> Top 20 users </h3>
  <ol type="1">
    <% @users.each_with_index do |user,index| %>
      <li class="ranking-li">
      <%= image_tag "https://i.pravatar.cc/5#{rand(1..9)}", class: "avatar-ranking" %>
      <p class="username-p">
        <%= index + 1 %>.
        <%= user.username %>
        <%= image_tag("medal.png", :class => "medal") if index == 0 %>
        <%= image_tag("medal (1).png", :class => "medal") if index == 1 %>
        <%= image_tag("medal (2).png", :class => "medal") if index == 2 %>
      </p>
      <p class="points-p"> <%= user.points %> </p>
      </li>
    <% end %>
  </ol>
</div>
